<div>
    <header>
        <nav class="left">
            <a  class="box-shadow-menu" (click)="openNavBar()"></a>
            <a>DOS</a> 
            <a>TRES</a> 
            <a>CUATRO</a> 
        </nav>
        <nav class="right">
            <a>UNO</a> 
            <a>DOS</a> 
            <a>TRES</a> 
        </nav>
    </header>
</div>
<app-menu [opened]="opened"></app-menu>
