@import "../../../sass/configstyle"
header
    padding: 1rem
    display: flex
    justify-content: space-between
    background-color: $backgroundColorHeader
    color: white
    a
        margin: 0.5rem

.box-shadow-menu 
  color: white
  font-size: 1.5rem
  position: relative
  padding-left: 1.25em

.box-shadow-menu:before 
  content: ""
  position: absolute
  left: 0
  top: 0.25em
  width: 1em
  height: 0.15em
  background: $colorMenuBurguer
  box-shadow: 0 0.25em 0 0 $colorMenuBurguer,0 0.5em 0 0 $colorMenuBurguer

.gradient-menu 
  padding-left: 1.25em
  position: relative

.gradient-menu:before 
  content: ""
  position: absolute
  left: 0
  top: 0.21em
  bottom: 0.21em
  width: 1em
  background: linear-gradient(to bottom, black, black 20%, white 20%, white 40%, black 40%, black 60%, white 60%, white 80%, black 80%, black 100%)

.border-menu 
  
  position: relative
  padding-left: 1.25em

.border-menu:before 
  content: ""
  position: absolute
  top: 0.25em
  left: 0
  width: 1em
  height: 0.125em
  border-top: 0.375em double #000
  border-bottom: 0.125em solid #000




