<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">
      <ul class='menu'>
        <li class="opcMenu"> <a [routerLink]="['colors']" routerLinkActive='menuLinkActivated'> COLORS</a></li>
        <li class="opcMenu"> <a [routerLink]="['brands']" routerLinkActive='menuLinkActivated'> BRANDS</a></li>
        <li class="opcMenu"> <a [routerLink]="['groups']" routerLinkActive='menuLinkActivated'> GROUPS</a></li>
      </ul> 
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>