mat-sidenav-container
    height:91.8%
    
mat-sidenav,mat-sidenav-content
    padding: 16px

mat-sidenav
    backgroud-color: lightcoral
    width:200px

.menu
    padding: 0px
    .opcMenu
        padding: 5px 0px 5px 0px
        list-style: none
        a
            text-decoration: none
.menuLinkActivated
    font-weight: bold